@use 'base';
@use 'abstracts' as *;
@use 'components';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

#app {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr 0px auto;
  font-family: 'Source Sans 3', sans-serif;
}

main {
  max-width: $max-width;
  margin-inline: auto;
  display: grid;
  grid-template-rows: 1fr 0px;
}

.back-to-top-btn {
  --offset: 600px;

  text-decoration: none;
  background-color: $blue;
  border-radius: 99999px;
  height: 40px;
  aspect-ratio: 1;
  box-shadow: 2px 3px 5px $black;

  position: sticky;
  place-self: end;
  bottom: 30px;
  margin-right: 30px;
  margin-top: calc(100vh + var(--offset));

  &::before {
    content: '';
    position: absolute;
    inset: 30%;
    border-top: 5px solid $yellow;
    border-right: 5px solid $yellow;
    transform: translateY(20%) rotate(-45deg);
  }
}
