@use './colors' as *;

@mixin button($bg-clr: $yellow) {
  border: none;
  border-radius: 5px;
  background-color: $bg-clr;
  cursor: pointer;
  transition: transform 75ms ease-in-out, filter 75ms linear;

  &:active {
    transform: scale(0.99);
  }
  &:hover {
    filter: contrast(90%);
  }

  @media (prefers-reduced-motion: no-preference) {
    &:focus-visible {
      transition: outline-offset 75ms ease-out;
    }
    &:not(:active):focus-visible {
      transition-duration: 0.25s;
    }
  }

  &:not(:active):focus-visible {
    outline-offset: 0.3rem;
  }
}
